[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
tqdm = "*"
pylint = "*"
autopep8 = "*"
sklearn = "*"
matplotlib = "*"
mypy = "*"
pandas = "*"
tensorboard = "*"
jupyter = "*"
tabulate = "*"
torch = ">=1.6.0"
transformers = "~=3.3.1"
seaborn = "*"

[requires]
python_version = "3.8"
